body {
    background-color: #121212;
    font-family: Arial;
    color: white;
    margin: 0px;
}

header {
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 15px;
}

.title {
    color: #ff3d3d;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    color: #ff3d3d;
}

nav {
    text-align: center;
    margin: 0px 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 0px 10px;
}

a:hover {
    color: #ff3d3d;
}

input {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.movie {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    border-radius:8px;
}

.section-number {
    text-align: center;
    margin: 5px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
}